---
export interface Props {
    title: string;
    subtitle: string;
    description: string;
    hasImage: boolean;
}

const { title, subtitle, description, hasImage } = Astro.props;
---

{
    hasImage ? (
        <section class="section-has-image py-20">
            <div class="container">
                <div class="grid grid-cols-2 gap-x-24">
                    <div class="flex items-center">
                        <div>
                            <span class="section-subtitle uppercase mb-3">{subtitle}</span>
                            <h1 class="section-title mb-10">{title}</h1>
                            <p class="section-description">{description}</p>
                        </div>
                    </div>
                    <div>
                        <slot />
                    </div>
                </div>
            </div>
        </section>
    ) : (
        <section class="py-24">
            <div class="container">
                <div class="text-center mb-16">
                    <span class="section-subtitle uppercase mb-3">{subtitle}</span>
                    <h1 class="section-title mb-8">{title}</h1>
                    <p class="section-description">{description}</p>
                </div>
                <slot />
            </div>
        </section>
    )
}

<style lang="scss">
    @import '../styles/scss/_variables';

    section:not(.section-has-image) {
        .section-subtitle {
            font-weight: 700;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.4em;
            color: #a1acbd;
            // color: #e8aa14;
        }

        .section-title {
            font-family: $font-family-secondary;
            font-weight: 700;
            font-size: 48px;
            line-height: 52px;
            // color: #062033;
            color: #002243;
        }

        .section-description {
            font-size: 22px;
            line-height: 30px;
            max-width: 700px;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            color: #092c47;
            // color: #3d4856;
        }
    }

    .section-has-image {
        // background-color: #002243;

        .section-subtitle {
            display: flex;
            align-items: center;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.025em;
            color: #c18500;

            &:before {
                content: '';
                display: block;
                width: 30px;
                min-height: 2px;
                background-color: rgba(#c18500, 0.5);
                margin-right: 8px;
            }
        }

        .section-title {
            font-weight: 700;
            font-size: 44px;
            font-family: $font-family-secondary;
            line-height: 58px;
            max-width: 400px;
            width: 100%;
            // color: #f1f1e6;

            color: #011627;
        }

        .section-description {
            font-size: 20px;
            line-height: 28px;
            // color: #f1f1e6;

            color: #2f4858;
        }
    }
</style>
